img {
  position: absolute;
  border-radius: 5px;
}

img.large {
  max-height: 250px;
  z-index: 0;
}

img.medium {
  max-height: 200px;
  z-index: 1;
}

img.small {
  max-height: 150px;
  z-index: 2;
}

